/* Movie Cards */
.movieCard{
  min-width:200px;
  background:#222;
  border-radius:10px;
  overflow:hidden;
  cursor:pointer;
  transition:transform .25s ease, box-shadow .3s;
}
.movieCard:hover{
  transform:scale(1.09);
  box-shadow:0 4px 18px rgba(255,255,255,0.2);
}
.movieCard__image{width:100%;height:130px;object-fit:cover;}
.movieCard__info{padding:.8rem;color:#ddd;font-size:.95rem;}