/* Row CSS */
.row{padding:1rem 2rem;margin-top:2rem;}
.row__title{font-size:1.4rem;font-weight:700;margin-bottom:.7rem;}
.row__posters{
  display:flex;
  gap:1rem;
  overflow-x:auto;
  padding-bottom:1rem;
  scroll-behavior:smooth;
}
.row__posters::-webkit-scrollbar{height:6px;}
.row__posters::-webkit-scrollbar-thumb{
  background:#555;border-radius:10px;
}